<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" [routerLink]="['/']">
        <kbd>F2Code</kbd>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li>
            <a class="nav-link" [routerLink]="['/']">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>

          <li>
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </ul>
        <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [routerLink]="['/profile']" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Profile</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

          <li>
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/login']">
              <kbd>Login</kbd>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/']">
              <kbd>Logout</kbd>
            </a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->


      </div>
    </nav>

  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col align-self-center">
        <h1 class="display-4 text-center">F2MEAN</h1>
        <p class="lead" style="text-align:center">This my MEAN. It's my 1st application to let's you know about me.</p>
        <p class="lead" style="text-align:center">What is MEAN <kbd>Click</kbd> </p>
          
       
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>